body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green,blue,darkblue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    transition: 0,3s;
}
main {
    margin: 10px 20px;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green,blue,darkblue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    transition: 0,3 s;
    display: block;
    bottom: 0 ;
    width: 99%;
    
}

a{
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: lavender;
}

a:hover {
  color: red;
  text-decoration: underline;
  background-color: white;  
  font-weight: bold;
}

a:active {
    color: pink;
    background: green;
}
