body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green,blue,darkblue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green,blue,darkblue,purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a{
    
}

a:visited {
    color: lavender;
}

a:hover {
  color: red;
  text-decoration: underline;
  background-color: white;  
}

a:active{
    color: pink;
    background: green;
}
